<%- include('../partials/head', {title:'Accueil'}) %>
    <%- include('../partials/header') %>

    <main>

            <%- include('../elements/hero') %>

        <h2 class="title-2">Les dernières annonces</h2>

        <div class="announce-container">
            <% PostedAnnounce.forEach((announce) => { %>
                <%- include("../elements/announce", {announce}) %>
            <% }) %>
        </div>

        <div class="get-announces">
            <p class="get-announces-button">Consulter toutes les annonces</p>
        </div>
        </main>



<%- include('../partials/footer') %>