<% const pageTitle = announce.title + ' | TalentHub'; %>
<%- include('../partials/head', {title: pageTitle}) %>
<%- include('../partials/header') %>

<main class="read-announce">

<div class="display-announce">
    <p class="announce-main-title"> <%= announce.title %></p>
    <p class="announce-description"><%= announce.description %></p>
    <p class="announce-body-text"><%= announce.bodytext %></p>
    <div class="announce-skills">Compétences du poste : <p> <%= announce.skills %></p></div>
    <p class="announce-type">Type de contrat : <%= announce.type %></p>
    <p class="announce-start-date">Date de début du contrat : <%= announce.start_date %></p>
    <p class="announce-salary">Rémunération : <%= announce.salary + announce.salary_unit %></p>

    <h3 class="announce-title-3">Contacter l'entreprise</h3>

    <p class="announce-mail">Par mail :<a href="mailto:<%= announce.mail%>" class="announce-contact-link"><%= announce.mail %></a> </p>
        <p class="announce-mail">Par téléphone :<a href="callto:<%= announce.phone %>" class="announce-contact-link"><%= announce.phone %></a> </p>
</div>

    <p class="announce-edit"><a href="#" class="announce-edit-link">Éditer votre annonce</a></p>

</main>

<%- include('../partials/footer') %>